page-payment-method {

  #payment_method{
    .margin-top{
      padding-top: 100px;
    }
    h2{
      text-align: center;
      font-family: Dubai-Bold;
      padding-top: 10px;
    }

    input::-webkit-input-placeholder {
      font-family: Dubai-Light;
    }

    input:-moz-placeholder { /* Firefox 18- */
      font-family: Dubai-Light;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      font-family: Dubai-Light;
    }

    input:-ms-input-placeholder {
      font-family: Dubai-Light;
    }

    .margin{
      margin: 10px;

    }

    h1{
      color: #f53d3d;
      text-align: center;
      font-size: 50px;
    }

    .background{
      background-color: #eeee;
      border-radius: 10px;
    }


  }

}

ion-title{
  font-family: Dubai-Bold;
}