page-login {
  #login{
    .image1{
      width: 150px;
      height: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;

      margin-top: 20%;
    }

    #margin-top{
      margin-top: 10%;
    }

    .buttons{
      padding-top: 20px;
    }
    button{
      border-radius: 5px;
    }

    input::-webkit-input-placeholder {
      font-family: Dubai-Light;
    }

    input:-moz-placeholder { /* Firefox 18- */
      font-family: Dubai-Light;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      font-family: Dubai-Light;
    }

    input:-ms-input-placeholder {
      font-family: Dubai-Light;
    }
    .image2{
      float: right;
      position: fixed;
      bottom: -3%;
      right: 0;
      width: 130px;

    }
  }


}
