page-login {
  #login{
    .image1{
      width: 100px;
      height: 100px;
      margin-left: 35%;
      margin-top: 20%;
    }

    #margin-top{
      margin-top: 15%;
    }

    .buttons{
      padding-top: 20px;
    }
    button{
      border-radius: 5px;
    }

    input::-webkit-input-placeholder {
      font-family: Dubai-Light;
    }

    input:-moz-placeholder { /* Firefox 18- */
      font-family: Dubai-Light;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      font-family: Dubai-Light;
    }

    input:-ms-input-placeholder {
      font-family: Dubai-Light;
    }
    .image2{
      float: right;
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }


}
