page-about{

  .margin-left-right{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    color: grey;
    font-family: Dubai-Regular;

  }
  .estimate .text-align{
    color: grey;
    font-family: Dubai-Medium;
  }

}
ion-title{
  font-family: Dubai-Bold;
}
