page-feedback {

    #feedback{
      .margin-top{

      }
      input::-webkit-input-placeholder {
        font-family: Dubai-Light;
      }

      input:-moz-placeholder { /* Firefox 18- */
        font-family: Dubai-Light;
      }

      input::-moz-placeholder {  /* Firefox 19+ */
        font-family: Dubai-Light;
      }

      input:-ms-input-placeholder {
        font-family: Dubai-Light;
      }

      ion-textarea textarea{
        height: 100px;
      }

      ion-textarea{
        padding-left: 15px;
        border: 1px solid lightgray;
        background: white;
      }
      .margin{
        margin: 10px;
        padding-bottom: 10px;

      }

      .background{
        background-color: #eeee;
        padding-top: 5px;
        border-radius: 10px;
      }

    }

  }
  ion-title{
    font-family: Dubai-Bold;
  }

