page-contact {
  #orders{
  h3, h2, p{
    color: grey;

  }
  h3{
    padding-left: 5%;
    font-family: Dubai-Bold;
  }
  ion-item  h2{
  font-weight: 700;
    font-family: Dubai-Medium;
}
    p{
      font-family: Dubai-Regular;
    }

    button span{
      font-family: Dubai-Regular;
    }
}
}
ion-title{
  font-family: Dubai-Bold;
}
