page-settings {

  ion-icon{
    padding-right: 20px;
  }
  .settings_header{
    background-color: #eeee;
    font-size: 18px;
    font-family: Dubai-Bold !important;


  }

  ion-item{
    font-family: Dubai-Regular !important;
    color: grey !important;
  }

}
