page-settings {

  ion-icon{
    padding-right: 20px;
  }
  .settings_header{
    background-color: #eeee;
    font-size: 18px;
    font-family: Dubai-Bold !important;


  }
  img{
    width: 60px;
    border-radius: 10px;
  }

  ion-item{
    font-family: Dubai-Regular !important;
    color: grey !important;

  }
}
