page-order-success {


  h1{
    color: #f53d3d;
    text-align: center;
    font-size: 50px;
    margin-top: 80px !important;
  }

  .thanks{
    color: #f53d3d;
    text-align: center;
    font-family: Dubai-Bold;
    font-size: 18px;
  }

  h5{
    text-align: center;
  }

  h4{
    font-family: Dubai-Bold;
    text-align: center;
  }
  .back{
    text-decoration: underline;
    color: grey;
    text-align: center;
  }
}
