page-forget-password {

  #forget_password{
    .margin-top{
    margin-top: 200px;
  }
    input::-webkit-input-placeholder {
      font-family: Dubai-Light;
    }

    input:-moz-placeholder { /* Firefox 18- */
      font-family: Dubai-Light;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      font-family: Dubai-Light;
    }

    input:-ms-input-placeholder {
      font-family: Dubai-Light;
    }
  }

}
ion-title{
  font-family: Dubai-Bold;
}
