page-update-profile {
  img{
    width: 100px !important;
    height: 100px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
  }
  .buttons{
    padding-top: 20px;
  }
  button{
    border-radius: 5px;
  }

  .margin{
    margin: 4px;

  }

  .background{
    background-color: #eeee;
    padding-top: 5px;
    border-radius: 10px;
  }

}
